html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Tahoma;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
div {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}
div.style1 {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #687291;
    background-color: #dfe1e7;
}
div.style2 {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #687291;
    background-color: #eeeff2;
}
div.style3 {
    border: 4px;
    border-style: solid;
    border-color: black;
    background-color: #687291;
    display: flex;
    align-items: center;
    justify-content: center; 
}